node_modules/
public/
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
*.tgz
.env.*
.graphqlconfig.yml
src/graphql/

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
src/aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifyxc.config