@import '../../node_modules/mdbreact/dist/scss/core/_colors';

.fig-box {
  &:hover {
    cursor: nesw-resize;

    @media screen and (min-width: 768px) {
      box-shadow: 10px 5px 5px 1px $mdb-color-lighten-3;
    }

  }
}

.img-box {
  &:hover {
    cursor: nesw-resize;
  }
}